@charset "utf-8";

*{
	border:0;
	box-sizing:border-box;
	padding:0;
	margin:0;
	font-family:'Montserrat Alternates', sans-serif;
}

.wrap{
	width:100%;
	height:100%;
}


/* 게임 전 설정 사항 및 모든 것에 대한 스타일 */
.before{
	position:fixed;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	background:rgba(200,200,200,0.8);
}
.before-wrap{
	display:flex;
	flex-direction:column;
	position:fixed;
	top:50%;
	left:50%;
	width:50%;
	height:50%;
	background:rgba(0,0,0,0);
	transform:translate(-50%,-50%);
}
.before-wrap>h1{
	flex:1;
}
.before-select{
	flex:6;
	display:flex;
	flex-direction:column;
	background:#FFF;
}
.select-s{
	flex:1;
	display:flex;
	flex-direction:row;
}
.select-c{
	flex:1;
}
.select-c>label{
	display:block;
	padding:6px 12px;
	text-align:right;
	font-size:1.6rem;
}
.select-c label input{
	width:30%;
	padding:5px 15px;
	margin:4px 0;
	font-size:1.4rem;
	background:#EEE;
}
.select-c label input[type=text] {
	width:90%;
}

/*Flag Setting and Frame*/
.select-f{
	text-align:center;
	align-content:center;
}
.create-flag-wrap{
	position:relative;
	width:100px;
	height:100px;
	margin:10px auto;
}
.create-flag-box{
	position:absolute;
	width:100px;
	height:100px;
}
.create-flag-masque{
	position:absolute;
	width:100px;
	height:100px;
}
.create-flag-plus{
	opacity:0;
	width:100%;
	height:100%;
	box-sizing:border-box;
	background:rgba(0,0,0,0.3);
	font-size:1.5em;
	color:#FFF;
	cursor:pointer;
	transition:all 0.4s;
}
.create-flag-plus:hover{
	opacity:1;
	text-shadow:0px 0px 20px #FFF;
}

.select-st{
	border:2px solid #4CAF50;
	padding:10px 15px;
	margin:10px 0;
	font-size:1.2rem;
	background:#FFF;
	color:#4CAF50;
	transition:all 0.5s;
	cursor:pointer;
}
.select-st:hover{
	background:#4CAF50;
	color:#FFF;
}

/*Capital Start Position*/
.select-c#c-cp{
	display:flex;
	flex-direction:row;
}
.select-c>label.cp{
	flex:1;
	display:inline-block;
	text-align:left;
	padding:0;
	margin:0;
	font-size:1px;
}
.cp{
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.cp input{
	opacity:0;
	cursor:pointer;
}

.select-cp{
	display:inline-block;
	border:2px solid #1800d0;
	background:#FFF;
	color:#1800d0;
	transition:all 0.5s;
	cursor:pointer;
}
.select-cp:hover{
	background:#1800d0;
	color:#FFF;
}
/*Capital Position Select Button Styles*/
.cp_wrap{display:flex;width:36px;height:36px;padding:0;margin:0;flex-direction:column;border:2px solid #FFF;}
.cp_row{flex:1;display:flex;flex-direction:row;border:0;padding:0;margin:0;background:#FFF;}
.cp_cell{flex:1;width:10px;height:10px;border:1px solid #FFF;padding:0;margin:0;font-size:1px;background:#1800d0;}
.cp_cell:after{content:' ';}
.cp_cell.fill{background:#2196F3;}
.cp_wrap:hover, .cp_wrap:hover .cp_cell{border-color:#1800d0;background:#FFF;}
.cp_wrap:hover .cp_cell.fill{background:#2196F3;}

.cp input:checked ~ .cp_wrap{border-color:#1800d0;background:#FFF;}
.cp input:checked ~ .cp_wrap .cp_cell{border-color:#1800d0;background:#FFF;}
.cp input:checked ~ .cp_wrap .cp_cell.fill{background:#2196F3;}



.select-mn{
	display:inline-block;
	border:2px solid #CCC;
	padding:10px 15px;
	margin:4px 2px;
	background:#FFF;
	font-size:1.2rem;
	color:#CCC;
	transition:all 0.5s;
	cursor:pointer;
}
.select-mn:hover{
	border-color:#777;
	color:#777;
}
/*select Level Button*/
.select-lv{
	display:inline-block;
	border:2px solid;
	padding:10px 15px;
	margin-top:40px;
	margin-left:5px;
	background:#FFF;
	font-size:1.4rem;
	color:#FFF;
	transition:all 0.5s;
	cursor:pointer;
}
.select-lv:first-child{
	margin-left:40px;
}
.select-lv:nth-child(1){
	border-color:#f3d321;
	color:#f3d321;
}
.select-lv:nth-child(2){
	border-color:#ff9800;
	color:#ff9800;
}
.select-lv:nth-child(3){
	border-color:#f44336;
	color:#f44336;
}
.select-lv:nth-child(1):hover{
	background:#f3d321;
	color:#FFF;
}
.select-lv:nth-child(2):hover{
	background:#ff9800;
	color:#FFF;
}
.select-lv:nth-child(3):hover{
	background:#f44336;
	color:#FFF;
}

/* The Modal (background) */
.modal{
	position:fixed; /* Stay in place */
	left:0;
	top:0;
	display:none; /* Hidden by default */
	width:100%; /* Full width */
	height:100%; /* Full height */
	padding:120px 240px;
	background-color:rgb(0,0,0); /* Fallback color */
	background-color:rgba(0,0,0,0.4); /* Black w/ opacity */
	overflow:auto; /* Enable scroll if needed */
	z-index:1; /* Sit on top */
	
}
.modal>.modal-wrap {
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
	-webkit-animation:animatezoom 0.6s;
	animation:animatezoom 0.6s
}
.close{
	position:absolute;
	color:#000;
	font-size:35px;
	font-weight:bold;
	transform:translate(-100%, -100%);
	cursor:pointer;
}
.close:hover, .close:focus{
	color:red;
	cursor:pointer;
}

.container{
	flex:16;
	padding:16px;
	background:#EEE;
}
.container:first-child, .container:last-child{
	flex:1;
	background:#CCC;
	text-align:right;
}
.t-wrap{
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
}
.t-row{
	flex:1;
	display:flex;
	flex-direction:row;
	width:100%;
	height:100%;
}
.t-column{
	flex:1;
	width:100%;
	height:100%;
}
.divi-wrap{
	display:flex;
	flex-direction:column;
	height:100%;
	background:#FFF;
}
.divi-btn{
	flex:1;
	box-sizing:border-box;
	padding:0;
	margin:0;
	background:#FFF;
	cursor:pointer;
}
.divi-btn>img{
	width:40%;
	max-width:100%;
	padding:0;
	margin:0;
}
.divi-btn:disabled{
	background:rgba(0,0,0,0.7);
}

.fc-wrap{
	display:flex;
	flex-direction:column;
	width:70%;
}
.fc-rows{
	flex:1;
	display:flex;
	flex-direction:row;
	margin:10px;
	border:5px solid #AAA;
	border-radius:15px;
	background:#AAA;
}
.fc-cell{
	flex:1;
	padding:10px;
	margin:5px;
	text-align:center;
	cursor:pointer;
}
.fc-cell.z{background:#000; color:#fff;}
.fc-cell.r{background:#ff0000; color:#fff;}
.fc-cell.o{background:#ff8400; color:#fff;}
.fc-cell.y{background:#ffdd00; color:#000;}
.fc-cell.g{background:#00da26; color:#000;}
.fc-cell.s{background:#00a2ff; color:#fff;}
.fc-cell.b{background:#1900ff; color:#fff;}
.fc-cell.p{background:#a200ff; color:#fff;}
.fc-cell.w{background:#fff; color:#000;}

.cancelbtn{
	width:auto;
	padding:10px 18px;
	background-color:#4CAF50;
	font-size:1.2em;
	color:#FFF;
}

/* Add Zoom Animation */
@-webkit-keyframes animatezoom{
	from{-webkit-transform:scale(0)} 
	to{-webkit-transform:scale(1)}
}
  
@keyframes animatezoom{
	from{transform:scale(0)} 
	to{transform:scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
/*
@media screen and (max-width:300px){
	.cancelbtn{
		width:100%;
	}
}
*/




/* 게임 중일때의 스타일 */
.game{
	display:none;
}
.game-wrap {
	display:flex;
	flex-direction:row;
}
.country-wrap{
	flex:1;
	display:flex;
	flex-direction:row;
	width:100%;
}
.country-flag{
	
}
.country-info{
	flex:1;
	display:flex;
	flex-direction:column;
}
.info-name{
	flex:1;
	padding:14px 16px;
	background:#DDD;
	vertical-align:middle;
	font-size:1.7em;
}
.info-point{
	flex:1;
	display:flex;
	flex-direction:row;
}
.info-cp{
	flex:1;
	background:#CCC;
	padding:12px 10px;
}
.info-conquer{
	flex:1;
	padding:10px;
	background:#AAA;
	text-align:center;
}
#status-conquer{
	font-size:1.6em;
}
#status-max {
	font-size:1.2em;
}
.game-take{
	flex:1;
	width:100%;
	background:#BBB;
}

.game-progress{
	width: 100%;
	height: 8px;
	background: #ccc;
}

.game-progress-bar {
	height: 8px;
	background: #4caf50;
	width: 0%;
}

.frame{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.map{
	display:flex;
	flex-direction:column;
}
.map-row{
	flex:1;
	display:flex;
	flex-direction:row;
}
.map-row>div{
	content:'&nbsp;';
	flex:1;
	width:30px;
	height:30px;
	border:1px solid #FFF;
	text-align:center;
	font-size:1.2em;
	transition:all 0.5s;
}
#Z{background:#000000; color:#fff;}
#R{background:#ff0000; color:#fff;}
#O{background:#ff8400; color:#fff;}
#Y{background:#ffdd00; color:#000;}
#G{background:#00da26; color:#000;}
#S{background:#00a2ff; color:#fff;}
#B{background:#1900ff; color:#fff;}
#P{background:#a200ff; color:#fff;}
#W{background:#ffffff; color:#000;}

.Z{background:#000000; color:#fff;}
.R{background:#ff0000; color:#fff;}
.O{background:#ff8400; color:#fff;}
.Y{background:#ffdd00; color:#000;}
.G{background:#00da26; color:#000;}
.S{background:#00a2ff; color:#fff;}
.B{background:#1900ff; color:#fff;}
.P{background:#a200ff; color:#fff;}
.W{background:#ffffff; color:#000;}


.colors{
	display:flex;
	flex-direction:row;
	position:fixed;
	left:50%;
	bottom:0%;
	border:3px solid #BBB;
	transform:translate(-50%,-50%);
}
.color{
	flex:1;
	width:40px;
	padding:4px 0px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}


/* 게임 오버 후 */
.after{
	display:none;
}

