
*{
	border:0;
	padding:0;
	margin:0;
	font-family:'Montserrat', cursive;
}










.menu{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background:#777;
}
.gameName{
	padding:10px;
	color:#FFF;
}
.gameQuit{
	position:fixed;
	top:0;
	right:0;
}
.gameQuit>button{
	padding:5px 10px;
	background-color:red;
	font-size:1.9rem;
	color:#FFF;
}






#gameFrame{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#game{
	position:relative;
	top:40%;
	left:50%;
	transform:translate(-50%,-50%);
}
.gt{
	width:100%;
	text-align:center;
}
.gt-row{
	border:0;
	padding:0;
	margin:0;
	margin-bottom:-4px;
}
.gt-cell{
	width:40px;
	height:40px;
	border:none;
	margin:0;
	margin-left:-4px;
}

.cell-red{background:#E6194B;}
.cell-orange{background:#F58231;}
.cell-yellow{background:#FFE119;}
.cell-lime{background:#BCF60C;}
.cell-green{background:#3CB44B;}
.cell-cyan{background:#46F0F0;}
.cell-blue{background:#4363D8;}
.cell-violet{background:#5819bc;}
.cell-purple{background:#911EB4;}
.cell-magenta{background:#F032E6;}
.cell-gray{background:#808080;}
.cell-maroon{background:#800000;}
.cell-brown{background:#9A6324;}
.cell-olive{background:#808000;}
.cell-teal{background:#008080;}
.cell-navy{background:#000075;}
.cell-pink{background:#FABEBE;}
.cell-coral{background:#FFD8B1;}
.cell-beige{background:#FFFAC8;}
.cell-mint{background:#AAFFC3;}
.cell-lavender{background:#E6BEFF;}
.cell-white{background:#FFF;}
.cell-gold{background:#C9B037;}
.cell-silver{background:#D7D7D7;}










#bar{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background:#000;
}
.colorBar{
	text-align:center;
}
.colorBtn{
	width:50px;
	height:50px;
	padding:20px;
	margin:6px;
	margin-left:3px;
	margin-right:3px;
}
#c_red{background:#E6194B;}
#c_orange{background:#F58231;}
#c_yellow{background:#FFE119;}
#c_lime{background:#BCF60C;}
#c_green{background:#3CB44B;}
#c_cyan{background:#46F0F0;}
#c_blue{background:#4363D8;}
#c_violet{background:#5819bc;}
#c_purple{background:#911EB4;}
#c_magenta{background:#F032E6;}
#c_gray{background:#808080;}
#c_maroon{background:#800000;}
#c_brown{background:#9A6324;}
#c_olive{background:#808000;}
#c_teal{background:#008080;}
#c_navy{background:#000075;}
#c_pink{background:#FABEBE;}
#c_coral{background:#FFD8B1;}
#c_beige{background:#FFFAC8;}
#c_mint{background:#AAFFC3;}
#c_lavender{background:#E6BEFF;}
#c_white{background:#FFF;}
#c_gold{background:#C9B037;}
#c_silver{background:#D7D7D7;}







.front{
	
}





/* The container */
.container{
	display:block;
	position:relative;
	padding-left:35px;
	margin-bottom:12px;
	cursor:pointer;
	font-size:22px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

/* Hide the browser's default checkbox */
.container input{
	position:absolute;
	opacity:0;
	cursor:pointer;
	height:0;
	width:0;
}

/* Create a custom checkbox */
.checkmark{
	position:absolute;
	top:0;
	left:0;
	height:25px;
	width:25px;
	background-color:#eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark{
	background-color:#ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark{
	background-color:#2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after{
	content:"";
	position:absolute;
	display:none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after{
	display:block;
}

/* Style the checkmark/indicator */
.container .checkmark:after{
	left:9px;
	top:5px;
	width:5px;
	height:10px;
	border:solid white;
	border-width:0 3px 3px 0;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}






.back{
	
}





